# Handling $null$ Values

In [4]:
import pandas as pd
import numpy as np
eefoc = pd.read_csv("./warmup-data/coffee.csv")

In [2]:
eefoc.loc[5:10, 'Units Sold'] = np.nan
eefoc

          Day Coffee Type  Units Sold
0      Monday    Espresso        25.0
1      Monday       Latte        15.0
2     Tuesday    Espresso        30.0
3     Tuesday       Latte        20.0
4   Wednesday    Espresso        35.0
5   Wednesday       Latte         NaN
6    Thursday    Espresso         NaN
7    Thursday       Latte         NaN
8      Friday    Espresso         NaN
9      Friday       Latte         NaN
10   Saturday    Espresso         NaN
11   Saturday       Latte        35.0
12     Sunday    Espresso        45.0
13     Sunday       Latte        35.0

### number of $nulled$

In [ ]:
eefoc.isna().sum() # - the number of null

### fill $nulled$ values

##### with fixed value

In [ ]:
eefoc = eefoc.fillna(100)

##### with average

In [ ]:
eefoc.fillna(eefoc['Units Sold'].mean(), inplace=True)

##### patternic

In [ ]:
eefoc.fillna(eefoc['Units Sold'].interpolate(), inplace=True) -- if theres a pattern

### clean & find   $null$

##### cleaning

In [31]:
eefoc.dropna(subset=['Units Sold'])

          Day Coffee Type  Units Sold
0      Monday    Espresso        25.0
1      Monday       Latte        15.0
2     Tuesday    Espresso        30.0
3     Tuesday       Latte        20.0
4   Wednesday    Espresso        35.0
11   Saturday       Latte        35.0
12     Sunday    Espresso        45.0
13     Sunday       Latte        35.0

##### finding

In [3]:
eefoc[eefoc['Units Sold'].isna()]

          Day Coffee Type  Units Sold
5   Wednesday       Latte         NaN
6    Thursday    Espresso         NaN
7    Thursday       Latte         NaN
8      Friday    Espresso         NaN
9      Friday       Latte         NaN
10   Saturday    Espresso         NaN