In [29]:
import pandas as pd

df = pd.DataFrame([[1, 2, 3], [4, 5, 6], [7, 8, 9]], columns=["A", "B", "C"], index=["x", "y", "z"])
print(df)

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9

In [32]:
print(df.head(2))

   A  B  C
x  1  2  3
y  4  5  6

In [31]:
print(df.tail(2))

   A  B  C
y  4  5  6
z  7  8  9

In [30]:
print(df.columns)
df.index.to_list()

Index(['A', 'B', 'C'], dtype='object')

['x', 'y', 'z']

In [38]:
print(df)
print(df.nunique())
print(df.shape)
print(df.size)
df.describe()

   A  B  C
x  1  2  3
y  4  5  6
z  7  8  9
A    3
B    3
C    3
dtype: int64
(3, 3)
9

         A    B    C
count  3.0  3.0  3.0
mean   4.0  5.0  6.0
std    3.0  3.0  3.0
min    1.0  2.0  3.0
25%    2.5  3.5  4.5
50%    4.0  5.0  6.0
75%    5.5  6.5  7.5
max    7.0  8.0  9.0